/* play.css */

* {
    background-color: lightgray;
    margin: 5px;
    text-align: center;
    border: 10px;
    padding: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-weight: bold;
} 