/* style.css */

* {
    background-color: lightgray;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    margin: 5px;
    text-align: center;
    border: 10px;
    padding: 10px;
} 

.links {
    text-align: center; /* Center-align the buttons horizontally */
    padding-top: 50px;
  }
  
  /* Style for the individual buttons */
  .links a {
    display: inline-block;
    padding: 10px 20px; 
    margin: 5px; 
    background-color: rgb(50, 205, 195); 
    color: black; 
    text-decoration: none; /* Remove underline from links */
    border-radius: 20px; /* Add rounded corners */
    transition: background-color 0.3s ease; 
  }
  
  .links a:hover {
    background-color: #0077b3; /* Change background color on hover */
  }

  .footer { 
    padding-top: 350px;
} 

.line1 { 
    padding-top: 10px;
} 

.header { 
    padding-bottom: 0px;
} 